@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 40px;
    border-radius: 200%;
    cursor: pointer;
    transition: 0.5s ease;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #007542;
    border-bottom: 3px solid #007542;
}

@media (max-width: 995px) {
    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: #161616;
        border-left: 3px solid #007542;
        border-bottom: 3px solid #007542;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }

    nav.active {
        display: flex;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #007542;
        text-decoration: none;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #007542;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 20%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 40%;
    box-shadow: 0 0 25px solid #007542;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #007542;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #007542;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #007542;
    box-shadow: 0 0 25px #007542;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #007542;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #007542;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #007542;
    color: black;
    box-shadow: 0 0 25px #007542;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #007542;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #007542;
    }
}

@keyframes words {
    0%, 20% {
        content: "Song Writer";
    }
    21%, 40% {
        content: "Bassist";
    }
    41%, 60% {
        content: "Vocalist";
    }
    61%, 80% {
        content: "Solo Artist";
    }
    81%, 100% {
        content: "Keyboardist";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}
.biography {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    padding: 5rem 2rem; 
    text-align: center;
}

.home-img1 {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 2rem; 
}

.biography h1 {
    font-size: 3rem;
    margin-bottom: 2rem; 
}

.biography p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem; 
    max-width: 800px; 
}

.btn1 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #007542;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #007542;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn1:hover {
    transform: scale3d(1.03);
    background-color: #007542;
    color: black;
    box-shadow: 0 0 25px #007542;
}